.popup__save-button {
  width: 358px;
  height: 50px;
  margin: 19px auto 37px;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  box-sizing: border-box;
  border-style: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  cursor: pointer;
  transition: opacity .5s linear;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 16px auto 25px;
    font-size: 14px;
    line-height: 1.21;
  }
}
