.element-grid {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .element-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .element-grid {
    grid-template-columns: 1fr;
  }
}
