.elements {
  max-width: 880px;
  margin: 45px auto 0;
}

@media screen and (max-width: 1023px) {
  .elements {
  max-width: 580px;
  margin: 36px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .elements {
  max-width: 282px;
  margin: 37px auto 0;
  }
}
