.profile__add-card {
  height: 50px;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background: no-repeat center url(../../../images/add-button.svg);
  background-size: 22px;
  cursor: pointer;
  transition: opacity .5s linear;
}

.profile__add-card:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-card {
    width: 282px;
    margin-top: 0;
    margin-left: 0;
    background-size: 16px;
  }
}
