.profile__avatar {
  position: relative;
  padding: 0;
  height: 120px;
  width: 120px;
  margin-right: 30px;
  border-radius: 50%;
  border: none;
  background: no-repeat center url(../../../images/jacques-yves-cousteau.jpg);
  background-size: 120px 120px;
  transition: opacity .5s linear;
}

.profile__avatar:hover::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: no-repeat center url(../../../images/avatar-cursor.svg);
  background-size: 26px 26px;
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: auto;
  }
}
